ctransformers
pandas
numpy
pypdf
pdfplumber
langchain
torch
accelerate
bitsandbytes
transformers
sentence_transformers
flask
faiss_cpu
scikit-learn
tqdm
regex
pinecone-client
pinecone
peft
wandb
evaluate
rouge-score
pytorch_lightning==0.7.5
sentencepiece
chainlit
langchain_huggingface
huggingface_hub