ctransformers
pandas
numpy
pypdf
pdfplumber
langchain==0.0.225
torch
accelerate
bitsandbytes
transformers
sentence_transformers==2.2.2
flask
faiss_cpu
scikit-learn
tqdm
regex
pinecone-client
pinecone
peft
